@use "@/styles/mixin" as *;

.commonbutton {
    border: 1px solid var(--white);
    background-color: var(--black);
    padding: 15px 36px;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    mix-blend-mode: difference;
    transition: .2s ease-in-out;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        z-index: 1;
        height: 100%;
        width: 0;
        background-color: var(--white);
        mix-blend-mode: difference;
        transition: .2s ease-in-out;
    }

    &:hover {
        &::before {
            width: 100%;
        }

        span {
            font-weight: 400;
        }
    }

    span {
        position: relative;
        z-index: 2;
        @include font13;
        line-height: 20px;
        font-weight: 500;
        color: var(--white);
        font-family: var(--primary-font);
        mix-blend-mode: difference;
        text-transform: uppercase;
    }


    svg {
        width: 20px;
        height: 20px;

        path {
            mix-blend-mode: difference;
        }
    }
}