@use "@/styles/mixin" as *;

.branddetailspagemain {
    padding: 115px 0;

    .branddetailspagetitle {
        padding-top: 192px;
        display: flex;
        flex-direction: column;
        gap: 96px;
        align-items: center;
        justify-content: center;
        mix-blend-mode: difference;

        h1 {
            overflow: hidden;

            p {
                @include font144;   
                color: var(--white);
                font-family: var(--primary-font);
                text-transform: uppercase;
            }
        }
    }

    .brandbannerimage {
        padding: 76px 0;
    }

    .branddetailsmain {
        mix-blend-mode: difference;
        padding: 115px 0;
        max-width: 672px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 76px;
    
        .branddetailspan {
            @include font11;
            letter-spacing: 2px;
            color: var(--white);
            text-transform: uppercase;
            font-family: var(--primary-font);
        }
        
        .brandlogo {
            width: 384px;
            height: 76px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .brandparagraph {
            p {
                @include font17;
                line-height: 31px;
                color: var(--textgrey);
                font-family: var(--paragraph-font);
                text-align: center;
            }
        }

        .brandexploremain {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 19px;
                overflow: hidden;
                cursor: pointer;
                transition: .2s ease-in-out;

                span {
                    @include font19;
                    color: var(--white);
                    text-transform: uppercase;
                    font-family: var(--primary-font);
                    transition: .2s ease-in-out;
                }

                &:hover {
                    span {
                        transform: translateY(-19px);
                    }
                }
            }
        }
    }

    .brandimagesmainsection {
        padding-top: 115px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;

        .gridimage1, .gridimage2, .gridimage3, .gridimage4, .gridimage5 {
            position: relative;
            will-change: transform, opacity;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-out;
            }
        }

        .gridimage1main {
            position: relative;
            height: 503px;
            max-width: 551px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            grid-area: 1 / 4 / 2 / 9;
            
            .gridimage1 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
            }
            
            img {
                position: absolute;
                height: 503px;
                bottom: 0;
            }
        }
        
        .gridimage2main {
            position: relative;
            height: 473px;
            width: 100%;
            max-width: 551px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            grid-area: 2 / 10 / 3 / 15;
            margin-top: -134px;
            
            .gridimage2 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
            }
            
            img {
                position: absolute;
                height: 473px;
                bottom: 0;
            }
        }
        
        .gridimage3main {
            position: relative;
            height: 624px;
            max-width: 908px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            grid-area: 2 / 1 / 3 / 9;
            margin-top: 134px;
            
            .gridimage3 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
            }
            
            img {
                position: absolute;
                height: 624px;
                bottom: 0;
            }
        }
        
        .gridimage4main {
            position: relative;
            height: 633px;
            max-width: 670px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            grid-area: 3 / 10 / 4 / 16;
            margin-top: -278px;
            
            .gridimage4 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
            }
            
            img {
                position: absolute;
                height: 633px;
                bottom: 0;
            }
        }

        .gridimage5main {
            position: relative;
            max-width: 432px;
            width: 100%;
            height: 456px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            grid-area: 3 / 4 / 4 / 9;
            margin-top: 134px;
            margin-left: 124px;
            
            .gridimage5 {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            
            img {
                position: absolute;
                height: 456px;
                bottom: 0;
            }
        }
    }
}