@mixin font12 {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

@mixin font17 {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

@mixin font24 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

@mixin font90 {
    font-size: 90px;
    font-weight: 600;
    line-height: 90px;
}

@mixin font144 {
    font-size: 144px;
    font-weight: 600;
    line-height: 146px;
}