@font-face {
  font-family: "Zoom Pro Extended Regular";
  src: url("https://db.onlinewebfonts.com/t/ff61d10dac8dbaa00550b4820d656c2a.eot");
  src: url("https://db.onlinewebfonts.com/t/ff61d10dac8dbaa00550b4820d656c2a.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ff61d10dac8dbaa00550b4820d656c2a.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/ff61d10dac8dbaa00550b4820d656c2a.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/ff61d10dac8dbaa00550b4820d656c2a.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/ff61d10dac8dbaa00550b4820d656c2a.svg#Zoom Pro Extended Regular")
      format("svg");
}

@font-face {
  font-family: "Narkiss Block Extended Black";
  src: url("https://db.onlinewebfonts.com/t/f72814c31fcc121640f1d35d5250490d.eot");
  src: url("https://db.onlinewebfonts.com/t/f72814c31fcc121640f1d35d5250490d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f72814c31fcc121640f1d35d5250490d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/f72814c31fcc121640f1d35d5250490d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/f72814c31fcc121640f1d35d5250490d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/f72814c31fcc121640f1d35d5250490d.svg#Narkiss Block Extended Black")
      format("svg");
}
