@use "@/styles/mixin" as *;

.aboutherobannermain {
    mix-blend-mode: difference;
    .aboutherobanner {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .aboutherobannertitle {
            h1 {
                text-align: center;
                p {
                    overflow: hidden;

                    span {
                        @include font144;
                        color: var(--white);
                        display: block;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .scrolldown {
            margin-bottom: 50px;
            padding: 30px;
            position: relative;
            z-index: 2;
            cursor: pointer;
            p {
                overflow: hidden;

                span {
                    @include font12;
                    color: var(--whitepure);
                    text-transform: uppercase;
                    font-family: var(--primary-font);
                    display: block;
                }
            }
          }
    }
}