@use "@/styles/mixin" as *;

.homebuttonsectionmain {
  padding: 96px 0;
  mix-blend-mode: difference;

  .homebuttonsection {
    padding: 115px 0;
    max-width: 1152px;
    margin: 0 auto;

    .homebuttonsectionflx {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 11px;
      justify-content: center;

      .homebuttonmain {
        height: 61px;
        overflow: hidden;
        
        .homebutton {
          border: 0.5px solid #919191;
          border-radius: 50px;
          cursor: pointer;
          padding: 19px 26px;
          background: var(--black);
          transition: 0.2s ease-in-out;
          
          .homebuttontext {
            height: 20px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            transition: 0.2s ease-in-out;

            span {
              transition: 0.2s ease-in-out;
              @include font17;
              color: var(--lightgrey);
              font-family: var(--primary-font);
              text-transform: uppercase;
              display: block;
            }
          }
          &:hover {
            .homebuttontext {
              span {
                transform: translateY(-20px);
              }
            }
          }
        }
      }
    }
  }
}
